<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="food_service.Properties.Settings.food_serviceConnection" connectionString="Data Source = 192.168.1.5,1433; Initial Catalog = food_service;User Id=user1;Password=user1"/>
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
</configuration>
